* {
    font-family: "华文细黑";
    font-size: 15px;
    text-align: center;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #E6E6E6;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%
}

article {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /*	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;

*/
}

.header {
    background-color: #393B3C;
}

header {
    font-size: 50px;
    font-family: "Impact";
    color: #FFF;
}

nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

a {
    margin: 10px;
    text-decoration: none;
    color: #7F7F7F;
}


/*nav>a:link{
	border-bottom:none;
}
nav>a:visited,nav>a:hover,nav>a:active{
	border-bottom:3px solid #800000;
}*/

#nav_1 {
    border-bottom: 3px solid #A50005;
}

#back {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
}

#back:hover {
    color: #393B3C;
}

section {
    /*background-color: #800040;*/
    height: 100%;
    display: none;
}

.portfolio {
    display: block;
    max-width: 800px;
    margin: auto;
}

.portfolio>div {
    width: 200px;
    height: 300px;
    background-color: #FFF;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 20px;
    border-radius: 0 0 5px 5px;
}

.portfolio>div>div {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-bottom: 1px solid #808080;
    /*margin: 10px;*/
    text-align: center;
    background-color: #000;
    cursor: pointer;
}

img {
    transition: 0.3s;
}

img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}


/*弹窗*/


/* 弹窗背景 */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 50px;
    /*Location of the box*/
    left: 40%;
    top: 20%;
    width: 100px;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* 图片 */

.modal-content {
    margin: auto;
    display: block;
    width: 150px;
}


/* 文本内容 */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* 添加动画 */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* 关闭按钮 */

.close {
    position: absolute;
    top: 0px;
    right: 15px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 小屏幕中图片宽度为 100% */

@media only screen and (max-width: 200px) {
    .modal-content {
        width: 100%;
    }
}


/*弹窗结束*/

.resume {
    background-color: #FFF;
    margin: 0 20px;
    border-radius: 5px;

}

.resume>div {
    display: inline-block;
}

.resume>.t1 {
    display: block;
    margin: 20px;
}

.resume>div p {
    margin: 0;
}
